<html>
<head>
	<!--	
		protolog v.1.0
		"recuerdos inmortales"
		lolo, mayo, 2015
		http://armdz.com
	-->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="web/css/s.css">
	<script type="text/javascript" src="web/js/jq.js"></script>
	<script type="text/javascript" src="web/js/fotolog_data.js"></script>
	<script type="text/javascript" src="web/js/app.js"></script>
	<title>protolog</title>
</head>
<body onload="loadData()">

	<div class="contenido">
		<div class="titulo_holder">
			<div class="titulo">
				<span id="titulo_header">Nombre fotolog</span>
				<div class="titulo" id="calendario">
					<a href="web/fecha.html">ver calendario</a>
				</div>
			</div>
		</div>
		<br><br>
		<div class="foto_contentido">
			<div id="dummy">
				<img id="foto">
			</div>
		</div>
		<div id="descripcion" class="foto_descripcion_holder">
			<div class="topbar"></div>
			<div id="foto_desc" class="foto_descripcion">
			</div>
			<div class="topbar"></div>
			<div class="foto_descripcion_extra">
				<div id="foto_fecha" class="foto_extras">
				</div>
				<div id="foto_vistas" class="foto_extras">
				</div>
			</div>
		</div>
		<div class="topbar" id="topbar_top_10"></div>
		<div class="otras_fotos_holder">
			<div class="otras_fotos" id="las_otras_fotos">
				<div class="topbar"></div>
			</div>
		</div>
		<div class="comentarios" id="los_comentarios">
			<div class="comentarios_holder" id="holder_comentarios">
			</div>
		</div>

	</div>

</body>
</html>