<html>
<head>
	<!--	
		protolog v.1.0
		"recuerdos inmortales"
		lolo, mayo, 2015
		http://armdz.com
	-->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css/f.css">
	<script type="text/javascript" src="js/jq.js"></script>
	<script type="text/javascript" src="js/fotolog_data.js"></script>
	<script type="text/javascript" src="js/fecha.js"></script>
	<title>protolog</title>
</head>
<body onload="loadData()">

	<div class="contenido">
		<div class="titulo">
			<h1 id="titulo_header">WAIT!</h1>
		</div>
		<div class="foto_contentido" id="fecha_contenido">

		</div>

	</div>

</body>
</html>